#main {
    background-image: url("https://marek.bryling.pl/extras/images/01.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

strong {
    color: yellow;
}